<!--
  Generated template for the PostDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color=maincolor>
    <ion-title>Post Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div id="posts">
        <ion-card >
          <ion-item (tap)="openUserProfile()">
            <ion-avatar item-start>
              <img src="https://i.pravatar.cc/150?img={{userId}}">
            </ion-avatar>
            <h2 class="sticky">{{userName}}</h2>
            <p>{{userWebsite}}</p>
          </ion-item>
          <img src="https://i.pravatar.cc/300" imageViewer>
          <ion-card-content>
              <span><b>{{postDetails.title}}</b></span>
            <p>{{postDetails.body}}</p>
          </ion-card-content>
          <ion-row>
            <ion-col>
              <button ion-button color="purple" clear small icon-left (click)="like(post)">
                  <ion-icon name='thumbs-up'></ion-icon>
                  {{postLikes}} Likes
                </button>
            </ion-col>
            <ion-col>
              <button ion-button color="purple" clear small icon-left (click)="comment(post)">
                  <ion-icon name='text'></ion-icon>
                  {{commentList.length}} Comments
                </button>
            </ion-col>
            <ion-col align-self-center text-center>
              <p>
                3 min
              </p>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>



      <div *ngIf="showComments">
          <ion-list>
              <ion-item *ngFor="let post of commentList; let i = index;" >
                <ion-avatar item-start>
                  <img src="https://i.pravatar.cc/150?img={{post.id % 60}}" >
                </ion-avatar>
                <!-- <h2>{{user.name}}</h2> -->
                <p>{{post.body}}</p>
              </ion-item>
            </ion-list>
      </div>
</ion-content>
